body{
	background-image: url("https://previews.123rf.com/images/mironovak/mironovak1505/mironovak150500107/40016182-mexico-flag-or-mexican-banner-on-wooden-boards-background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	font-size: 44;
}
h2{font-size: 100%}